<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="rootArquivosSalvos" value="C:\testeUploads"></add>
    <add key="PathArquivoTeste" value="C:\Users\Thyago\Documents\Visual Studio 2012\Projects\Vital.Exercicio.GerenciadorDeArquivo\Vital.Exercicio.GerenciadorDeArquivoTest\arquivo.jpg"></add>
  </appSettings>
</configuration>